{{#question}}
<script>
$(function() {
    var UUID = "{{uuid}}";

    new window.PLFileEditor(UUID, {
        originalContents: "{{original_file_contents}}",
        currentContents: "{{current_file_contents}}",
        aceMode: {{#ace_mode}}"{{ace_mode}}"{{/ace_mode}}{{^ace_mode}}undefined{{/ace_mode}},
        aceTheme: {{#ace_theme}}"{{ace_theme}}"{{/ace_theme}}{{^ace_theme}}undefined{{/ace_theme}}
    });
});
</script>
<div id="file-editor-{{uuid}}">
    <input type="hidden" name="{{name}}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">{{file_name}}</h4>
            <a type="button" class="btn btn-default btn-xs pull-right btn-download" download="{{file_name}}" title="Download file" data-toggle="tooltip" data-placement="bottom" data-container="body">
              <i class="fa fa-download" aria-hidden="true"></i>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="editor"></div>
    </div>
    {{submission}}
</div>
{{/question}}
