<script>
$(function() {
  var UUID = "{{uuid}}";

  new window.PLFileUpload(UUID, {
    filesApiUrl: '{{files_api_url}}',
    acceptedFiles: {{&file_names}},
    {{#has_files}}files: {{&files}},{{/has_files}}
  });

  PrairieUtil.initCopyButton('#pl-file-upload-{{uuid}} .copy-button', {
    buttonClass: 'btn-light',
  });
});
</script>

{{#enable_terminal_uploads}}
<div id="pl-file-upload-{{uuid}}" class="card mb-4">
  <input type="hidden" name="{{name}}">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="#browser-{{element_index}}" aria-controls="browser-{{element_index}}" role="tab" data-toggle="pill">Upload in browser</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#curl-{{element_index}}" aria-controls="curl-{{element_index}}" role="tab" data-toggle="pill">Upload from terminal</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="browser-{{element_index}}">
          <div class="upload-dropzone">
            <div class="dz-message">
              Drop files here or click to upload.
              <br/>
              <small>Only the files listed below will be accepted&mdash;others will be ignored.</small>
            </div>
          </div>
          <div class="messages">
          </div>
          <ul class="list-group list-group-flush file-upload-status">
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane card-body" id="curl-{{element_index}}">
            <p>Run the command below in your terminal in the directory where your files are located.</p>
            <p>If this is an autograded question, you'll see results appear below automatically!</p>
            <div class="bg-dark text-white rounded p-3 mb-2">
                <button type="button" class="btn btn-light btn-sm copy-button mb-2" data-clipboard-target="#pl-file-upload-{{uuid}} .files-api-url-command">
                    copy command to clipboard
                </button>
                <pre class="files-api-url-command text-white mb-0"></pre>
            </div>
        </div>
    </div>
</div>
{{/enable_terminal_uploads}}
{{^enable_terminal_uploads}}
<div id="pl-file-upload-{{uuid}}" class="card mb-4">
  <div class="card-header">Upload files</div>
  <div class="upload-dropzone">
    <div class="dz-message">
      Drop files here or click to upload.
      <br/>
      <small>Only the files listed below will be accepted&mdash;others will be ignored.</small>
    </div>
  </div>
  <div class="messages">
  </div>
  <ul class="list-group list-group-flush file-upload-status">
  </ul>
</div>
{{/enable_terminal_uploads}}
